html {
  font-size: 14px;
  font-family: font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
body {
	font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	background-color: #F0F0F0;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}
a {font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.campaign_name > a {padding-left: 10px;}
.media_name > a {padding-left: 25px;}
.company_name > a {
	height: 100%;
	padding-left: 5px;
    /*padding-top: 25px;*/
}
.last-campaign, .last-company{padding-bottom: 5px !important;}
.company-title {
	font-size: 18px;
	font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.collapse {
  display: none;
  &.show {
    display: block;
  }
}
div.list-group-item, a.list-group-item {border-top: 0 none;}
/*.level-step {
	border-radius: 0;
    border-width: 1px 0 0 0;
    border: 1px solid rgba(0,0,0,.125);
}*/
.list-group-item-action {background-color:rgb(248, 249, 250);}
.graph-container{margin-top: -10px}
.level-step * {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*
 * MAIN MENU
 */
#bit-mainmenu {
	padding-right: 0px
}
#bit-mainmenu-en {
	position: relative;
	right: -180px;
	top: 12px;
}
#bit-mainmenu DIV {
	cursor: pointer;
	float: left;
	height: 51px !important;
	margin-top: 0px;
	padding-top: 0px !important;
	background-image: url(../assets/images/menu/main_menu_background.png);
}
#bit-mainmenu-en DIV {
	cursor: pointer;
	float: left;
	height: 51px !important;
	margin-top: 0px;
	width: 123px;
	padding-top: 0px !important;
	background-image: url(layout/main_menu_background_en.png);
}

#bit-mainmenu *{
    height: 51px;
}
#bit-mainmenu-en *{
    height: 51px;
}

#bit-mainmenu A{
    display: block;
}
#bit-mainmenu-en A{
    display: block;
}
#bit-mainmenu DIV.dashboard, #bit-mainmenu DIV.dashboard A {
	width: 141px;
}
#bit-mainmenu-en DIV.dashboard, #bit-mainmenu-en DIV.dashboard A {
	width: 141px;
}

#bit-mainmenu DIV.observatory, #bit-mainmenu DIV.observatory A {
	width: 152px;
}
#bit-mainmenu-en DIV.observatory, #bit-mainmenu-en DIV.observatory A {
	width: 152px;
}

#bit-mainmenu DIV.analysis, #bit-mainmenu DIV.analysis A {
	width: 115px;
}
#bit-mainmenu-en DIV.analysis, #bit-mainmenu-en DIV.analysis A {
	width: 115px;
}

#bit-mainmenu DIV.reports, #bit-mainmenu DIV.reports A {
	width: 129px;
}
#bit-mainmenu-en DIV.reports, #bit-mainmenu-en DIV.reports A {
	width: 129px;
}

#bit-mainmenu DIV.dashboard {
    background-position: -1px 0px;
}
#bit-mainmenu-en DIV.dashboard {
    background-position: -1px 0px;
}

#bit-mainmenu DIV.observatory {
    background-position: -142px 0px;
}
#bit-mainmenu-en DIV.observatory {
    background-position: -142px 0px;
}

#bit-mainmenu DIV.analysis {
    background-position: -294px 0px;
}
#bit-mainmenu-en DIV.analysis {
    background-position: -294px 0px;
}

#bit-mainmenu DIV.reports {
    background-position: -409px 0px;
}
#bit-mainmenu-en DIV.reports {
    background-position: -409px 0px;
}

#bit-mainmenu DIV.dashboard.active {
	background-position: -1px 113px;
}
#bit-mainmenu-en DIV.dashboard.active {
	background-position: -1px 113px;
}

#bit-mainmenu DIV.observatory.active {
	background-position: -142px 113px;
}
#bit-mainmenu-en DIV.observatory.active {
	background-position: -142px 113px;
}

#bit-mainmenu DIV.analysis.active {
	background-position: -294px 113px;
}
#bit-mainmenu-en DIV.analysis.active {
	background-position: -294px 113px;
}

#bit-mainmenu DIV.reports.active {
	background-position: -409px 113px;
}
#bit-mainmenu-en DIV.reports.active {
	background-position: -409px 113px;
}

#bit-mainmenu DIV.dashboard:hover {
	background-position: -1px -120px;
}
#bit-mainmenu-en DIV.dashboard:hover {
	background-position: -1px -120px;
}

#bit-mainmenu DIV.observatory:hover {
	background-position: -142px -120px;
}
#bit-mainmenu-en DIV.observatory:hover {
	background-position: -142px -120px;
}

#bit-mainmenu DIV.analysis:hover {
	background-position: -294px -120px;
}
#bit-mainmenu-en DIV.analysis:hover {
	background-position: -294px -120px;
}

#bit-mainmenu DIV.reports:hover {
	background-position: -409px -120px;
}
#bit-mainmenu-en DIV.reports:hover {
	background-position: -409px -120px;
}

.wrapper_title{
  margin-bottom: 1rem;
  z-index: 9999;
}
.wrapper_title a{
  color: #343a40;
  font-size: 1.2rem;
}
.wrapper_text{
  margin-bottom: 0.2rem;
  margin-left: 0.4rem;
}
.wrapper_subtext{
  margin-left: 0.8rem;
}
.popover-header{
  font-size: 1.3rem;
  font-weight: 500;
}

.graph-tooltip {
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	padding: 5px;
	font: 12px sans-serif;
	background: rgba(246, 247, 250, 0.88);
	border: 0.5px solid rgba(0, 0, 0, 0.76);;
	pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #e6e6e6;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #999;
  font-size: 10px;
}
#btnShowMore{
  width: 100%;
  background-color: #f8f9fa;
  color: #343a40;
}

.animate{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button{
  width: 100%;
  text-align: center;
  padding: 10px 40px;
  float: left;
  border-radius: 10px;
  font-size: 25px;
  color: #6C7582;
}

.action-button:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.action-button:focus{
  outline:0px;
}

.button-color{
  background-color: #f8f9fa;
  border-bottom: 5px solid lightgray;
  text-shadow: 0px -2px linen;
}
.shadowContainer{
   box-shadow: 0px 3px 6px -2px grey;
}
.handCursor{
  cursor: pointer;
}
.whiteBack{
  background-color: white;
  border-radius: 5px;
}
#bit-footer{
  color: #999;
  font-size: 11px;
}
.no-border-r {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none !important;
}
.no-border-l {
  border-left: none !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.border5{
  border-radius:5px;
}
.border-bot{
  border-bottom: 1px solid rgba(0,0,0,.125)
}
.customDatepickerWidth{
  width: 16rem;
}
.customDatepicker{
  height: 2.2rem;
}
.datepickerIcon{
  font-size: 2rem;
}

.calendarDiv{
  margin-left: 0.3rem;

}
.pl-6{
  padding-left: 4rem;
}
