html {
  font-size: 14px;
  font-family: font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
body {
	font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	background-color: #e6e6e6;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}
a {font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.campaign_name > a {padding-left: 10px;}
.media_name > a {padding-left: 25px;}
.company_name > a {
	height: 100%;
	padding-left: 5px;
    /*padding-top: 25px;*/
}
.last-campaign, .last-company{padding-bottom: 5px !important;}
.company-title {
	font-size: 18px;
	font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.collapse {
  display: none;
  &.show {
    display: block;
  }
}
div.list-group-item, a.list-group-item {border-top: 0 none;}
/*.level-step {
	border-radius: 0;
    border-width: 1px 0 0 0;
    border: 1px solid rgba(0,0,0,.125);
}*/
.list-group-item-action {background-color:rgb(248, 249, 250);}
.graph-container{margin-top: -10px}
.level-step * {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*
 * MAIN MENU
 */
#bit-mainmenu {
	padding-right: 0px
}
#bit-mainmenu-en {
	position: relative;
	right: -180px;
	top: 12px;
}
#bit-mainmenu DIV {
	cursor: pointer;
	float: left;
	height: 51px !important;
	margin-top: 0px;
	padding-top: 0px !important;
	background-image: url(../assets/images/menu/main_menu_background.png);
}
#bit-mainmenu-en DIV {
	cursor: pointer;
	float: left;
	height: 51px !important;
	margin-top: 0px;
	width: 123px;
	padding-top: 0px !important;
	background-image: url(layout/main_menu_background_en.png);
}

#bit-mainmenu *{
    height: 51px;
}
#bit-mainmenu-en *{
    height: 51px;
}

#bit-mainmenu A{
    display: block;
}
#bit-mainmenu-en A{
    display: block;
}
#bit-mainmenu DIV.dashboard, #bit-mainmenu DIV.dashboard A {
	width: 141px;
}
#bit-mainmenu-en DIV.dashboard, #bit-mainmenu-en DIV.dashboard A {
	width: 141px;
}

#bit-mainmenu DIV.observatory, #bit-mainmenu DIV.observatory A {
	width: 152px;
}
#bit-mainmenu-en DIV.observatory, #bit-mainmenu-en DIV.observatory A {
	width: 152px;
}

#bit-mainmenu DIV.analysis, #bit-mainmenu DIV.analysis A {
	width: 115px;
}
#bit-mainmenu-en DIV.analysis, #bit-mainmenu-en DIV.analysis A {
	width: 115px;
}

#bit-mainmenu DIV.reports, #bit-mainmenu DIV.reports A {
	width: 129px;
}
#bit-mainmenu-en DIV.reports, #bit-mainmenu-en DIV.reports A {
	width: 129px;
}

#bit-mainmenu DIV.dashboard {
    background-position: -1px 0px;
}
#bit-mainmenu-en DIV.dashboard {
    background-position: -1px 0px;
}

#bit-mainmenu DIV.observatory {
    background-position: -142px 0px;
}
#bit-mainmenu-en DIV.observatory {
    background-position: -142px 0px;
}

#bit-mainmenu DIV.analysis {
    background-position: -294px 0px;
}
#bit-mainmenu-en DIV.analysis {
    background-position: -294px 0px;
}

#bit-mainmenu DIV.reports {
    background-position: -409px 0px;
}
#bit-mainmenu-en DIV.reports {
    background-position: -409px 0px;
}

#bit-mainmenu DIV.dashboard.active {
	background-position: -1px 113px;
}
#bit-mainmenu-en DIV.dashboard.active {
	background-position: -1px 113px;
}

#bit-mainmenu DIV.observatory.active {
	background-position: -142px 113px;
}
#bit-mainmenu-en DIV.observatory.active {
	background-position: -142px 113px;
}

#bit-mainmenu DIV.analysis.active {
	background-position: -294px 113px;
}
#bit-mainmenu-en DIV.analysis.active {
	background-position: -294px 113px;
}

#bit-mainmenu DIV.reports.active {
	background-position: -409px 113px;
}
#bit-mainmenu-en DIV.reports.active {
	background-position: -409px 113px;
}

#bit-mainmenu DIV.dashboard:hover {
	background-position: -1px -120px;
}
#bit-mainmenu-en DIV.dashboard:hover {
	background-position: -1px -120px;
}

#bit-mainmenu DIV.observatory:hover {
	background-position: -142px -120px;
}
#bit-mainmenu-en DIV.observatory:hover {
	background-position: -142px -120px;
}

#bit-mainmenu DIV.analysis:hover {
	background-position: -294px -120px;
}
#bit-mainmenu-en DIV.analysis:hover {
	background-position: -294px -120px;
}

#bit-mainmenu DIV.reports:hover {
	background-position: -409px -120px;
}
#bit-mainmenu-en DIV.reports:hover {
	background-position: -409px -120px;
}

.wrapper_title{
  margin-bottom: 1rem;
  z-index: 9999;
}
.wrapper_title a{
  color: #343a40;
  font-size: 1.2rem;
}
.wrapper_text{
  margin-left: 2rem;
  font-size: 1.2rem;
  color: #343a40;
  margin-top: 1rem;
}
.wrapper_subtext{
  margin-left: 0.8rem;
}
.popover-header{
  font-size: 1.3rem;
  font-weight: 500;
}
#filter-map{
  display: inline-flex;
  position: absolute;
  right: 8rem;
  top: 8.1rem;
}
a{
    text-decoration: none !important;
}

a i{
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

nav {
  background-color: rgb(230,230,230);opacity:0.9;
  border: 1px solid white;
  position: absolute;
  right: -300px;
  top: 0;
  -moz-transition: right 0.2s linear;
  -o-transition: right 0.2s linear;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
  width: 300px;
  z-index: 9001;
  /* IT'S OVER 9000! */
}
nav #menuToggle {
  background: rgb(230,230,230);opacity:0.6;
  border: 1px solid white;
  display: block;
  position: relative;
  height: 40px;
  left: -50px;
  top: 75px;
  width: 50px;
}
nav #menuToggle span {
  background: #343a40;
  display: block;
  height: 10%;
  left: 10%;
  position: absolute;
  top: 45%;
  width: 80%;
}
nav #menuToggle span:before, nav #menuToggle span:after {
  background: #343a40;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: -250%;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 100%;
}
nav #menuToggle span:after {
  top: 250%;
}
nav a:nth-child(n+2) {
  color: rgba(0,0,0,0.6);
  display: block;
  font-size: 1.3rem;;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
nav a:nth-child(n+2):after {
  background: #ffa53e;
  content: '';
  display: block;
  height: 2px;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 0;
}
nav a:nth-child(n+2):hover:after {
  width: 100%;

}

.open {
  right: 0;
}
.open #menuToggle span {
  background: transparent;
  left: 10%;
  top: 45%;
}
.open #menuToggle span:before, .open #menuToggle span:after {
  background: #343a40;
  top: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open #menuToggle span:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menuToggle .navClosed {
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
#menuToggle .navClosed:before, #menuToggle .navClosed:after {
  -moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s;
  -o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transition-delay: 0.1s, 0.1s;
  transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s;
}
#menuToggle .navOpen {
  -moz-transition: background 0.1s linear 0.2s;
  -o-transition: background 0.1s linear 0.2s;
  -webkit-transition: background 0.1s linear;
  -webkit-transition-delay: 0.2s;
  transition: background 0.1s linear 0.2s;
}
#menuToggle .navOpen:before, #menuToggle .navOpen:after {
  -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
  -o-transition: top 0.2s linear, -o-transform 0.2s linear;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
  transition: top 0.2s linear, transform 0.2s linear;
}
